# Virtual environment
.venv/

# Python cache files
__pycache__/

# VSCode settings
.vscode/

# System-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log

# Text files
*.txt
pressure_output.txt
